/languages/CsBaseLanguage/source_gen
/languages/CsBaseLanguage/source_gen.caches
/languages/CsBaseLanguage/classes_gen
/languages/CsBaseLanguage/generator/
/.mps/workspace.xml
/solutions/CsBaseLanguage.sandbox/source_gen.caches
/solutions/CsBaseLanguage.sandbox/source_gen
