/CsBaseLanguage/languages/CsBaseLanguage/source_gen
/CsBaseLanguage/languages/CsBaseLanguage/source_gen.caches
/CsBaseLanguage/languages/CsBaseLanguage/classes_gen
/CsBaseLanguage/languages/CsBaseLanguage/generator/

/CsBaseLanguage/solutions/CsBaseLanguage.sandbox/source_gen.caches
/CsBaseLanguage/solutions/CsBaseLanguage.sandbox/source_gen
/CsBaseLanguage/solutions/CsBaseLanguage.sandbox/classes_gen

/CsBaseLanguage/.mps/workspace.xml