<idea-plugin version="2" xmlns:xi="http://www.w3.org/2001/XInclude">
    <id>CsBaseLanguage</id>
    <name>CsBaseLanguage</name>
    <category>Custom Languages</category>
    <description>The C# base language for MPS</description>
    <version>1.2</version>
    <idea-version since-build="222.1" until-build="223.1"/>
    <vendor>Tomas Elias (tomas.elias.za@gmail.com), Roman Firment (romanfirment@gmail.com), Jakub Saksa (jakub.saksa@icloud.com), Martin Wirth (wirthma@gmail.com), Dalibor Zeman (Zeman-Dalibor@users.noreply.github.com)</vendor>

    <depends>jetbrains.mps.core</depends>
    <depends>jetbrains.mps.build</depends>

    <extensions defaultExtensionNs="com.intellij">
        <mps.LanguageLibrary dir="/"/>
        <errorHandler implementation="jetbrains.mps.ide.blame.CharismaReporter"/>
    </extensions>
</idea-plugin>
